.image-home{
    background: url(./asset/bg-book.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.book-login{
    background: url(./asset/book-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.back-color{
    background-image: linear-gradient(#FBDDB9 ,#D45029  );
}
::-webkit-scrollbar {
    width: 12px;               
}
  
::-webkit-scrollbar-track {
background: #D45029;        
}

::-webkit-scrollbar-thumb {
background-color: #FBDDB9;    
border-radius: 20px;       
border: 3px solid #D45029;  
}